$black: #333;

$red: #B8292F;
$blue: #004276;
$gray: #4D4D4D;
$lightgray: #EEEEEE;

$grey: $gray;
$lightgrey: $lightgray;

$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #FF0000;
$linkedin: #0077B5;