$arial: Arial, Helvetica, sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;

* {
    font-family: $arial;
}

a {

    &:hover{
        text-decoration: none;
    }
}


p, p a {

}

blockquote, blockquote p {

}


.fintoh1, h1, h2, h3, h4, h5, h6, 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: $blue;
    border-top: 0px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

.fintoh1, h1, h1 a{
    font-size: 28px;
}

h2, h2 a {
    font-size: 23px;
}

h3, h3 a {
    font-size: 19px;
}

h4, h4 a {
    font-size: 16px;
}

h5, h5 a {
    font-size: 14px;
}

h6, h6 a {
    font-size: 13px;
}