footer {
    background-color: $black;
    color: white;

    .logo {
        img {
            float: left;
            margin-top: 8px;
        }
    }

    .grid-container {
        background-color: transparent;
		margin:0 20px;
		@media screen and (min-width:768px) {
			margin:0 auto;
		}
        #menu-footer-menu {
            float: none;
            text-align: right;

            li {
                float: none;
                display: inline-block;

                a {
                    font-weight: bold;
                    font-size: 14px;
                    color: white;
                    text-transform: uppercase;

                    &:hover, &:focus {
                        color: white;
                        background-color: transparent;
                    }
                }
            }
        }

        #menu-footer-menu-bottom {
            list-style: none;
            padding-left: 0;

            li a {
                font-size: 14px;
                color: white;

                &:hover, &:focus {
                    color: white;
                    background-color: transparent;
                }
            }
        }

        p, p * {
            font-size: 12px;
        }

        .socials{
			a {
				color: white;
				text-indent:999px;
				display:block;
				overflow:hidden;
				float:left;
				margin: 5px 3px;
			}
			a.tw{
				background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-tw-white.png') no-repeat center center;
            }
			a.fb{
				background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-fb-white.png') no-repeat center center;
			}
			a.yt{
				background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-yt-white.png') no-repeat center center;
			}
        }
        
        .footer-text {
            padding-top: 1px;
            
            p {
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width:999px) {

        .logo {
            img {
                float: none;
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        #menu-footer-menu {
            text-align: left !important;
            margin: 0;
            
            li {
                display: block !important;

                a {
                    padding: 0;
                }
            }
        }
        
        hr {
            margin-bottom: 3px;
        }
        
        .socials {
            display: block;
        }
    }
}