/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-nov-2013, 16.02.51
    Author     : maurizio
*/

form {
    margin: 0px;
    padding: 0px;
}

.form-control {
    background-color: #f2f2f2;
    border: none;
    border-radius: 1px;
    box-shadow: none;
    
    &:focus{
        box-shadow: none;
    }
    
    
}

.form-white {
    background-color: #fff;
}

.form-border {
    border: 1px solid #f2f2f2;
}




.gform_wrapper ul,
.gform_wrapper ul li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

.gform_wrapper li.gfield {
    margin: 0 0 8px 0;
}

.gform_wrapper .gfield_label {
    display: none !important;
}


.gform_wrapper li.gfield.gf_right_half,
.gform_wrapper li.gfield.gf_left_half {

    float: left;
    margin: 0 0 12px 0;
    width: 49%;
}



.gform_wrapper li.gfield.gf_left_half {
    margin-right: 2%;
}

.gform_wrapper li.gfield input,
.gform_wrapper li.gfield textarea {
    width: 100%;
    border: none;
    font-size: 13px;
    background-color: #f2f2f2;
    color: #000;
    padding: 0 10px;
}


.gform_wrapper li.gfield input {
    height: 30px;
    line-height: 30px;
}

.gform_wrapper li.gfield textarea {
    padding: 10px;
    height: 150px;
}

.gform_wrapper li.gfield input[type="checkbox"] {
    width: auto;
    float: left;
    height: auto;
    margin: 3px 15px;
}


.gform_wrapper li.gfield input[type='checkbox'] + label {
    display: block !important;
    font-weight: normal;
    font-size: 12px;
    
    
}


.gform_wrapper .gform_button {
    border: none;
    width: 200px;
    margin: 10px 0;
    padding: 10px;
    line-height: 30px;
    background-color: #82AEB7;
    color: #fff;
}


