header {
    //padding-top: 30px;
	.navbar{
		padding:82px 0 0 0;
		.navbar-header{
			position:fixed;
			top:0;
			left:0;
			width:100%;
			z-index:9999999;
			height:82px;
			background:#FFF;
		}
		.navbar-collapse.in{
			position:fixed;
			top:80px;
			left:0;
			width:100%;
			z-index:9;
			height:calc(100% - 80px);
			background:#F2F2F3;
		}
	}
    .header__top {
        text-align: left;
        min-height: 25px;

        .header__top-menu {
			min-height: 36px;
			background: #004276;
			padding: 30px 2% 45px 2%;
			width:100%;
			color: #FFF;
			font-weight: bold;
			border: solid 1px #004276;
            .menu-top-menu-container {
                display: inline-block;

                #menu-top-menu {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 0;

                    li {
                        display: inline-block;
                        margin-right: 1px;

                        a {
                            color: #FFF; //$grey;
                            font-size: 14px;
							color: #FFF;
							font-weight: bold;
							text-transform:uppercase;

                            &:hover, &:focus {
                                text-decoration: none;
                            }
                        }

                        &:not(:last-of-type):after {
                            content: "-";
                            margin-left: 5px;
                        }
                    }

                    @media screen and (max-width:767px) {
                        display: none;
                    }
                }
            }

            .header__top-menu-right-section {
                float: right;

                .googlesearch {
                    margin-left: 30px;
                    max-width: 200px;
                    display: inline-block;
                    vertical-align: middle;

                    button.gsc-search-button {
                        background-color: $lightgray;
                        background-image: none;
                        border: none;
                        margin: 0;
                        color: black;
                        padding: 5px;
                        border-radius: 0;
                        box-shadow: none;
                        
                        svg {
                            fill: black;
                        }
                    }

                    .gsc-input-box .gsib_a {
                        padding: 0 5px;
                    }

                    .gsc-search-box {
                        margin-bottom: 0;

                        > table {
                            margin-bottom: 0;
                        }
                    }

                    .gsc-input-box-focus {
                        box-shadow: none;
                    }

                    input {
                        &::placeholder,
                        &:-ms-input-placeholder,
                            &::-ms-input-placeholder { 
                            display: none !important;
                            opacity: 0 !important;
                        }
                    }
                }

                @media screen and (max-width:767px) {
                    float: none;
                    display: block;
                    text-align: center;

                    .socials {
                        display: none;
                    }

                    .googlesearch {
                        max-width: 100%;
                        padding: 10px 1.25rem;
                        margin: 0;
                    }
                }
            }

            @media screen and (max-width:767px) {
                background-color: #CCC;
                margin: 0 -1.25rem;

                .menu-top-menu-container {
                    display: none;
                }
            }

            @media screen and (max-width:423px) {
                float: none;
				display:none;

                .menu-top-menu-container {
                    margin-bottom: 10px;
                }

                .socials {
                    margin: 0;
                    float: right;
                }
            }
        }
    }

    .navbar {
        border: none;

        .navbar-toggle {
            margin-top:17px;
            margin-bottom:0px;
        }

        .navbar-collapse {
            padding: 0;

            .menu-main-container, .menu-main-mob-container {
                //background-color: $lightgray;

                #menu-main, #menu-main-mob {
                    float: none;
                    text-align: center;

                    li {
                        float: none;
                        display: inline-block;

                        a {
                            color: $blue;
                            padding: 15px 10px;
                            font-weight: bold;
                            text-transform: uppercase;                            

                            .caret {
                                display: none;
                            }

                            &:hover, &:focus {
                                background-color: $blue;
                                color: white;
                            }
                        }

                        &.dropdown.open {
                            > a {
                                background-color: $blue;
                                color: white;
                            }

                            .dropdown-menu {
                                padding: 0;
                                border: 2px solid $blue;
                                border-radius: 0;

                                li {
                                    display: block;

                                    a {
                                        color: $blue;
                                        text-transform: none;
                                        padding: 7px;

                                        &:hover, &:focus {
                                            background-color: $blue;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    @media screen and (max-width:767px) {
                        text-align: left;
                        margin: 0;

                        li {
                            display: block;

                            a {
                                padding: 10px;
                            }
                        }
                    }
                }
				#menu-main-mob {
					padding: 15px;
					margin-bottom: 20px;
				}
            }

            @media screen and (min-width:768px) {
                &.navbar-collapse-mob {
                    display: none !important;
                }
            }

            @media screen and (max-width:767px) {
                &:not(.navbar-collapse-mob) {
                    display: none !important;
                }
            }
        }
    }

    .logo {
        a {
            display: block;
        }

        img {
            margin: 0 auto;
            display: block;

            @media screen and (max-width:767px) {
                display: none;
            }
        }
    }

    .mobile-logo{
		display: inline-block;
        max-width:calc(60% - 15px);
		margin-left: 15px;
	}
	.navbar-toggle{   
        display: inline-block;
        max-width:50%;
    }
	.navbar-toggle.in span:first-child{
		transform: translate(0px, 6px) rotate(-45deg);
		transition-duration:0.5s;	
		}
	.navbar-toggle.in span:nth-child(2){
		display:none;
		}
	.navbar-toggle.in span:last-child{
		transform: translate(0px, 0px) rotate(45deg);
		transition-duration:0.5s;
		}
    .mobile-logo,
	.navbar-toggle{   
        @media screen and (min-width:768px) {
            display: none;
        }
    }

    .navbar-toggle .icon-bar {
        background-color: $blue;
    }

    .socials {
        margin-left: 30px;
		height: 20px;
        a {
			text-indent:999px;
			display:block;
			overflow:hidden;
			float:left;
			margin-left:5px;
            color: #FFF; //$grey;
            &:hover {
                color: $blue;
            }
        }
		a.tw{
			background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-tw-white.png') no-repeat center center;
			//&:hover {
            //    background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-tw-blue.png') no-repeat center center;
            //}
		}
		a.fb{
			background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-fb-white.png') no-repeat center center;
			//&:hover {
            //    background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-fb-blue.png') no-repeat center center;
            //}
		}
		a.yt{
			background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-yt-white.png') no-repeat center center;
			//&:hover {
            //    background:url('/wp-content/themes/secoloditalia/resources/img/icon-socials/icon-yt-blue.png') no-repeat center center;
            //}
		}
    }

    @media screen and (max-width:767px) {
        padding-top: 0;
        margin-bottom: -1.68rem;

        nav.navbar {
            margin-bottom: 0;
        }
    }
}

#menu-main-mob li.bordered {
	border-top: 1px solid #b5b5b5;
    margin-top: 20px;
    padding-top: 20px;
}
@media screen and (min-width:767px) {
	.navbar{
		padding:0 !Important;
		.navbar-header{
			position:static !Important;
			z-index:auto !Important;
			height:auto !Important;
		}
	}
}