.cartoon {        
    img {
        max-width: 100%;
        height: auto;
    }
}

section.featured-post {
    h3 {
        margin-left: 0;
        margin-right: 0;
    }
    
    article {
        h4 {
            margin: 0 0 20px;
        }
    }
}

.home .listing-single-download img {
    border: none;
}

.subscribe-newsletter {
    border-color: $blue !important;
    padding: 10px 20px;

    h3 {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    i {
        color: $blue;
        float: left;
        font-size: 30px;
    }

    .message {
        display: table;
        padding-left: 10px;

        p, p strong {
            color: $blue;
            font-family: $georgia;
            font-size: 12px;
            line-height: 14px;
        }

        p span {
            font-family: $georgia;
            text-transform: uppercase;
        }
    }

    form {
        .subscribeDataTable {
            background-color: transparent;
            background-image: none;
            border: none;
            width: auto !important;

            .muDescription {
                display: none;
            }

            label, label a {
                font-weight: normal;
                font-size: 12px;
                text-transform: none;
            }

            input[type="text"] {
                border-radius: 3px;
                border: 1px solid $gray;
                color: $red;
                font-size: 12px;
                padding: 5px;
                margin-bottom: 10px;
            }

            .muSubmit {
                text-align: center;
                margin-top: 15px !important;

                input {
                    background-color: $red;
                    color: white;
                    border-radius: 0;
                    padding: 5px 20px;
                    border: none;
                }
            }
        }
    }

    .subscribeForm p {
        margin: 0 !important;
    }
}

.home__head-top {
    > .grid {
        padding-bottom: 0;
		width:100%;
		margin:0;
    }
    article.listing-single-post{
		border-bottom:solid 1px #dadada;
	}
}
.home__body__two,
.home__body__cat,
.home__body,
.home__head-bottom{
	border-top:solid 1px #dadada;
}
body.archive aside section,
section.home__sidebar section,
body.single-post aside section{
	@media screen and (min-width:768px){
		float:right;
		text-align: left;
		margin: 0 0 30px 0 !important;
	}
	text-align: center;
    margin:0 auto 30px auto !important;
}
.home__body__cat{
	padding:40px 0 0 0;
	.grid__item{
		margin-top:0;
		h3{
			margin-top:0;
		}
	}
}
span.title-section{
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 19px;
    line-height: 15px;
    position: relative;
    margin:0 0 17px 10px;
    padding-left: 10px;
    display: block;
}
span.title-section:before{
	content: " ";
    display: block;
    width: 7px;
    height: 7px;
    background: #0e4274;
    position: absolute;
    bottom: 0;
    left: 0px;
}
.conf-FDI-422{
	border:solid 5px #000d73;
	padding:20px;
	margin:0 0 1.68rem 0;
}
@-webkit-keyframes blinker{
	0% { opacity: 0.25; }
	25% { opacity: 1.0; }
	75% { opacity: 1.0; }
	100% { opacity: 0.25; }
}
.wrapper-ultimora{
	background:#f2f2f4;
	padding:10px;
	margin:10px 0 0 0;
	.inner-ultimora{
		max-width:95%;
		display: table;
		margin: 0 auto;
		background:#fff;
		padding:8px 20px;
		.et-live{
			color: #D10100;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 15px;
			border-bottom: solid 1px #f2f2f4;
			width: 100%;
			display: block;
			padding: 0 0 4px 4px;
			margin: 0 0 5px 0;
		}
		.et-live:before {
			content: " ";
			width: 10px;
			height: 10px;
			border-radius: 100px;
			margin: 1px 4px 1px 0;
			background: red;
			display: inline-block;
			-webkit-animation-name: blinker;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
			-webkit-animation-duration: 1.7s;
		}
		div{
			display:flex;
			.date{
				line-height:23px;
				margin: 0 8px 0 0;
				font-size: 13px;
				@media screen and (min-width:768px){
					line-height:29px;
				}
			}
			h3{
				margin:0px;
				a{
					text-decoration:none;
					font-size:18.5px;
					@media screen and (min-width:768px){
						font-size:30px;
					}
				}
			}
		}
	}
}
.adnKronos-block{
	@media screen and (max-width:767px){
		display:none;
	}
	background: #ededed;
    width:100%;
    padding: 15px 8px 0 20px;
	position:relative;
	img.logoAdnkronos{
		position: absolute;
		top: 22px;
	}
	.block-slider {
		overflow: hidden;
		width: 100%;
		display: inline-block;
		.container {
			padding: 0px;
			width: 100%;
			.slider {
				overflow: hidden;
				position: relative;
				.wrapper {
					display: -webkit-inline-box;
					width: calc(100% - 20px);
					@media screen and (min-width:768px){
						width: calc(100% - 100px);
					}
					list-style: none;
					padding: 60px 0 0 0px;
					margin: 0px;
					.article:not(:last-child){
						padding-right: 2.5%;
					}
					.article {
						@media screen and (min-width:768px){
							width: 22.5%;
						}
						width:97.5%;
						float: left;
						.placeholder-image,
						figure {
							margin: 0 0 5px 0;
							height:120px;
							overflow-y: hidden;
							background: #575756;
							img {
								width: 100%;
								height: auto;
							}
						}
						a h3{
							color:#000000;
							font-size:15px;
							padding:0 6px;
						}
					}
				}
				.nav {
					height: 40px;
					position: absolute;
					top: 10px;
					right: 10px;
					z-index: 3;
					transform: scale(0.8);
					a{
						float: left;
						border: 1px solid #575756;
						display: inline-block;
						border-radius: 100%;
						box-sizing: border-box;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: border .2s ease;
						width:32px;
						height:32px;
						margin-left: 16px;
						svg path{
							fill: #575756 !important;
						}
					}
				}
			}
		}
	}
}
.home__body,
.home__body__two{
	.grid__item .grid__box {
		padding:0 5px 0 0;
	}
	.grid__item:nth-child(even) .grid__box{
		padding:0 0 0 5px;
	}
}
.home__body__cat{
	width: calc(100% - 20px);
    margin: 0 10px;
	.grid__item {
		@if ($use_symmetric_gutters == true) {
			padding-left:  $gutter_width_px_value * 0.5px;
			padding-left:  calc(#{$gutter_width} * 0.5);
			padding-right: $gutter_width_px_value * 0.5px;
			padding-right: calc(#{$gutter_width} * 0.5);
		}
	}
}
.box-italpress{
    margin: 20px 0 0 0;
    border: 1px solid #FF9421;
    border-top-width: 3px;
    padding: 20px 20px 0 20px;
    text-align: left;
	h4{
		color: #3c3c3b;
		padding: 20px 0 !important;
		border-bottom: solid 1px #d1d1d1;
		margin: 0;
		text-align: left;
	}
	a:last-child h4{
		border: none !important;
	}
	.label{
		color: #FF9421;
		margin-bottom: 20px !important;
		font-size: 16px;
		font-weight: bold;
	}
}