/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-nov-2013, 13.00.18
    Author     : maurizio
*/




/* Large desktop */
@include lg { 
    .homebox_wrapper {
        height: 390px; 
    }
}

@include md { 
   .homebox_wrapper {
        height: 430px; 
    }
}

/* Portrait tablet to landscape and desktop */
@include sm { 
    .homebox_wrapper {
        height: 460px; 
    } 
}

/* Landscape phone to portrait tablet */
@include xs {  }

/* Landscape phones and down */
@media (max-width: 480px) {  }


