/* 
    Created on : 
    Author     : maurizio

    Usage: 
        http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
        http://web-design-weekly.com/2013/05/12/handy-sass-mixins/
        http://sachagreif.com/useful-sass-mixins/

*/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


// ---------------

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);


@mixin xs {
  @media only screen and (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin xs_sm {
  @media only screen and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin xs_md {
  @media only screen and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin sm_lg {
  @media only screen and (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin md_lg {
  @media only screen and (min-width: $screen-md-min) {
    @content;
  }
}





@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}



@mixin clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}





@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}