/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-nov-2013, 14.42.41
    Author     : maurizio
*/


.sidebar ul, 
.sidebar li {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}



.sidebar {
    margin-top: 40px;
    
    h2 {
        font-size: 30px;
        
    }
    
    .menu-item a {
        border-top: 1px solid #ccc;
        font-weight: bold;
        display: block;
        padding: 7px 5px;
        color: #333;
        
        &:hover {
            background-color: #82aeb7;
            color: #fff;
        }
        
    }
    
    
    .sub-menu .menu-item a {
        border: none;
        font-weight: normal;
    }
    
   
    .menu-item-has-children li a {
        padding-left: 30px;
    }
    
    .menu-item.current-menu-item > a {
        /** 
        background-color: #82aeb7;
        color: #fff;
        **/
    }
    
}
.sidebar {
    
    .media-heading a {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        
    }
}