body.single,
body.page-template {
	.post__body {
		.grid{
			width:100%;
			margin:0;
			h1{
				font-size:30px;
				margin:4px 0;
				}
			}
			.wp-caption {
				width: 100% !important;
			}
			@media screen and (min-width:768px) {
				.wp-caption {
					width: auto !important;
					max-width: 100% !important;
				}
			}
			.correlati_content{
				span{
					font-size: 12px !important;
					font-weight: 800 !important;
					margin: 0 10px 0 0 !important;
					color: #666;
					}
				ul {
					padding:0;
					margin:0;
					list-style:none;
					li{
						margin-bottom:10px;
						span{
							content: "";
							width: 8px;
							height: 8px;
							background: #003366;
							border-radius: 100%;
							display: inline-flex;
							margin: 6px 5px 6px 0px;
							float: left;
						}
						a {
							color: #003366;
							font-weight: 600;
							display: table;
						}
					}
				}
				display: inherit;
				width: calc(100% - 40px);
				clear: both;
				border-bottom: solid 1px #ccc;
				border-top: solid 1px #ccc;
				margin: 2.25em 10px 2.25em 0px;
				padding: 13px 20px 16px 20px;
				.correlati_content_row{
					display: table;
					width: 100%;
					margin-bottom: 10px;
					a{
						img{
							width: 100px;
							float: left;
							margin: 0 10px 15px 0;
						}
					}
					h2{
						a{
							margin: 0 0 0 0;
							font-size: 18px;
						}
					}
					
				}
			}
			.correlati{
				display: inline-block;
				@media screen and (min-width:999px) {
					margin: 0 0 0 47px;
					width: calc(100% - 47px);
				}
				.grid .grid__item{
					padding:0 15px 0 0;
				}
				.grid .grid__item:nth-child(even){
					padding:0 0 0 15px;
				}
				h4{
					background:#f2f2f4;
					color:#313131;
					display:block;
					font-size: 18px;
					font-weight:bold;
					padding:8px 10px;
					margin-bottom:0;
				}
				.content{
					padding: 0 5px;
					display: inline-block;
					margin-left: 0px;
					width: calc(100% - 10px);
					float: none;
					.date{
						margin:0;
						span,
						strong{
							font-size: 12px;
							color: #3c3c3b;
						}
					}
				}
			}
			.correlati ul{
				padding-left: 0px;
				list-style: none;
				li{
					border-bottom: solid 1px #ccc;
					display:table;
					clear:both;
					width: 100%;
				}
					a{
					img{
						float:left;
						margin:0 10px 10px 0;
						width:33%;
						height:auto;
						max-width:126px;
					}
					font-size: 18px;
					line-height:20px;
					margin:8px 0px;
					display:block;
					a:hover{
						text-decoration:none;
						}
					}
			}
		}
    article {
		max-width:640px;
        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }

        .date {
            margin-bottom: 10px;
        }

        img.single-thumbnail {
            margin-bottom: 15px;
        }

        .body {
            .content {
                padding: 0;
                display: inline-block;
                margin-left: 10px;
                width: calc(100% - 47px);
				float:right;
				div.video{
					position: relative;
					padding-bottom: 56.25%;
					height: 0;
					display: block;
					width: 100%;
					iframe{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
				iframe{
					max-width: 100%;
				}
				.page-links a span{
					display: table;
					color: #FFF;
					background: url(/wp-content/themes/secoloditalia/resources/img/arrow-page.png) no-repeat right 15px center,#ad0202;
					padding: 10px 40px 8px 15px;
					border-radius: 4px;
					margin: 24px auto 55px auto;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
				}
			> iframe{
				width: 100% !important;
			}
				p{
					line-height:28px;
					font-size:18px;
					margin: 0 0 20px 0;
					word-break: break-word;
					strong, a{
						font-size:18px;
					}
				}
				h2{
					font-size:24px;
					font-weight:normal;
					margin:0px;
				}
            }            

            .social-shares {
                width: 37px;
                float: left;
                display: flow-root;
				@media screen and (min-width:999px){
					position: sticky;
				}
				top: 30px;
				z-index: 10;
                .share-label {
                    display: none;
                    font-size: 10px;

                    @media screen and (max-width:999px) {
                        display: inline-block;
                    }
                }

                a {
                    width:30px;
                    height:30px;
                    display: inline-block;
                    text-align: center;
                    color: white;
                    padding:5px;
                    margin-bottom:10px;
					img{
						width:auto;
					}
                    &.button--facebook {
                        background-color: $facebook; 
                    }

                    &.button--twitter {
                        background-color: $twitter; 
                    }

                    &.button--linkedin {
                        background-color: $linkedin; 
                    }
                }

                &.hidden-desktop {
                    display: none;

                    @media screen and (max-width:999px) {
                        display: inherit;
                    }
                }

                &.hidden-mobile {                    
                    @media screen and (max-width:999px) {
                        display: none;
                    }
                }
            }

            @media screen and (max-width:999px) {
                .content {
                    width: 100%;
                    margin-left: 0;
					display:grid;
                }

                .social-shares {
                    width: auto;
                    float: none;                        
                }
            }
        }
    }
}
.breadcrumbs {
    padding:3px;
    font-size: 11px;
    text-transform: uppercase;
	a, span, p {
    font-size: 11px;
    text-transform: uppercase;
	}
}
aside{
	section {
		margin: 0 0 30px 0;
		display: table;
		span.title{
			display:block;
			font-weight:bold;
			color:#000;
			margin:0 0 10px 0;
		}
		article h4{
			font-weight: 500;
			display: table;
		}
	}
}
body.single section.body{
    margin-bottom: 60px;
	display: inline-block;
}
#rtbuzz_native{
	display:inline-block;
}