html {
    font-size: 16px !important;
}

body {
    background-color: #004276;
	margin:0px;
}

.banner.text-center{
	background-color: $lightgrey;
	display:flex;
	justify-content: center;
}

article {
    .date *{
        /*text-align: right;*/
		font-size:12px;
		color:#3c3c3b;
    }
    img {
        width: 100%;
        height: auto;
    }

    .content {
        padding: 0 5px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 15px;
    }

    small, small * {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 10px
    }

    hr {
        border:solid 1px #dadada;
        margin: 5px 0;
    }

    &.bordered {
        border: 1px solid $lightgrey;
        border-bottom-color: $grey;
    }

    &.listing-single-post-small {
        min-height: 190px;
    }

    &.listing-single-post-medium {
        min-height: 248px;
    }

    &.listing-single-download {
        text-align: center;

        a {
            position: relative;
			display: inline-block;
            img {
                border: 1px solid $lightgray;
            }

            div {
                position: absolute;
                bottom:-30px;
				/*padding-left: 33%;*/
                left: 0;
                right: 0;
                font-family: $georgia;
                color: white;
                font-size: 18px;
                text-align: center;

                span {
                    background-color: $blue;
                    border-radius: 200px;
                    padding: 5px 15px;
					margin-left: 10px;
                }
            }
        }
    }

    &.listing-single-post-medium, &.listing-single-post-horizontal, &.listing-single-post-horizontal, &.listing-single-post-horizontal-small, &.listing-single-post-large {
        position: relative;

        .content {
            padding-bottom: 22px;
			position:relative;
        }

        .date {
            /*position: absolute;
            bottom: 0;
            left: 5px;
            right: 5px;
            font-family: $georgia;
            font-size: 10px;*/
        }
    }

    &.listing-single-post-horizontal-small {
        margin-top: -16px;

        h4 {
            margin-bottom: 15px;
            margin-top: 0;
        }

        hr {
            margin: 10px 0;
        }

        .date {
            bottom: 2px;
        }
    }

    &.listing-single-post-horizontal {
        h4 {
            margin-top: 0;
        }

        .grid {
            padding-bottom: 10px;
        }
    }
	
	&.listing-single-post-large{
		border:solid red 1px;
		border-top:solid red 3px;
		padding:5px;
		
	.author {
            position: absolute;
            bottom: 10px;
            left: 5px;
            right: 5px;
            font-family: $georgia;
            font-size: 10px;
			text-align:right;
        }
	.editorial-title{
			font-family: $georgia;
            color:red;
			font-size: 16px;
		}
	}
}

.socials {
    display: inline-block;

    a {
        display: inline-block;
        border: 1px solid;
        border-radius: 200px;
        width: 25px;
        height: 25px;
        text-align: center;
    }
}
.widget_vertical_recent_post_widget{
    border: 1px solid $lightgrey;
    border-top-width: 3px;
    padding-top: 10px;
	margin: 0 0 25px;
    padding: 10px 20px 0;
	a{
		border-top: solid 1px #CCC;
		display:block;
		padding:10px 5px 0 5px;
		color:#333;
		font-size:14px;
		}
	a:hover{
		color:#003366;
		text-decoration:none;
	}
		
}
section.bordered{
    border: 1px solid $lightgrey;
    border-top-width: 3px;
    padding:20px;
	article{
		display: table;
		clear: both;
		margin:0 0 10px 0;
		img {
			float:left;
			margin: 0 10px 0 0;
			}
		h3, h4 {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}
section.bordered.inbreve-block-sidebar{
		a{
			border-bottom:solid 1px #ccc;
			display:block;
			padding:0px 5px 10px 5px;
			font-size:14px;
			color:#333;
		}
		a:hover{
			color:#003366;
		}
	}
.home__body {
	article.listing-single-download a div{
		padding:0px;
	}
    section.bordered {
		article{
		    display: table;
			clear: both;
			img {
				float:left;
				margin: 0 10px 0 0;
				width:33%;
				@media screen and (min-width: 999px){
					width:100%;
					}
				}
			h3, h4 {
				margin-left:0px;
				margin-right:0px;
			}
		}
    }
	section.bordered.inbreve-block-sidebar{
		a{
			border-bottom:solid 1px #ccc;
			display:block;
			padding:0px 5px 10px 5px;
			font-size:14px;
			color:#333;
		}
		a:hover{
			color:#003366;
		}
	}
}

.goto-newsletter {
    border: 1px solid $blue;
    border-top-width: 3px;
    padding: 10px 20px;
    color: $blue;

    i {
        float: left;
        font-size: 30px;
    }

    div {
        display: table;
        padding-left: 10px;

        p, p strong, a {
            color: $blue;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.comment-respond {
    h3 {
        font-family: $arial;
        color: black;
    }

    .comment-form-comment {
        label {
            display: none;
        }

        textarea {
            border-radius: 5px;
            border: 1px solid $grey;
            background-color: $lightgray;
            width: 100%;
        }
    }

    p.comment-form-author, p.comment-form-email {
        display: inline-block;
        width: 49.5%;
    }

    p.comment-form-email {
        text-align: right;
    }

    input:invalid, textarea:invalid {
        border: 2px solid $red !important;
    }

    .form-submit {
        text-align: right;

        input {
            background-color: $blue;
            border-radius: 5px;
            color: white;
            border: none;
            padding: 2px 15px;
        }
    }

    input[type="text"], input[type="email"] {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid $grey;
        background-color: $lightgray;
        padding: 2px;
    }
}

.navigation.pagination {
    width: 100%;
    text-align: center;
    margin:25px 0;
    border: none;

    .screen-reader-text {
        display: none;
    }

    .nav-links a, .nav-links span {
        padding: 3px 7px;
        color: #575756;
		border:solid 1px white;
    }

    .nav-links a:hover,
    .nav-links .current {
        border:solid 1px $black;
		border-radius: 10%;
        color: $black;
    }
}

.gform_body {
    input[type="text"], textarea {
        background-color: $lightgrey;
        border: 1px solid $grey;
    }

    .gfield_checkbox {
        input {
            margin-top: 0 !important;
        }

        label {
            font-weight: normal;
        }
    }
}

.block-premium {
    position: relative;
    display: inline-block;
    background-color: #B9383F;
    color: white;
    text-align: center;
    font-weight: bold;

    .gradient {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 240px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 66%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 66%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }

    .message {
        font-size: 18px;
        padding: 5px 10px;

        a {
            font-size: 18px;
            color: white;
        }
    }
}

.grid.grid-no-padding {
    padding-bottom: 0;
}

.listing-single-product {
    .price {
        border: 1px solid $lightgray;
        padding: 5px 20px
    }

    .description {
        margin: 5px 0 20px;
        line-height: 16px;

        small {
            font-family: $arial;
            font-size: 12px;
            line-height: 16px;
        }
    }

    a {
        background-color: $blue !important;
        color: white !important;
        border-radius: 0 !important;
        font-family: $georgia;
        font-weight: normal !important;

        &:before {
            content: "\f07a";
            font: normal normal normal 14px/1 FontAwesome;
            margin-right: 10px;
        }
    }

    @media screen and (min-width:500px){
        h3 {
            margin-top: 0;
        }
    }
}

.woocommerce-cart-form button[type="submit"],
.woocommerce-checkout button[type="submit"] {
    background-color: $blue !important;
    color: white !important;
    border-radius: 0 !important;
    font-family: $georgia;
    font-weight: normal !important;
}

.woocommerce-cart-form button[type="submit"] {
    &:before {
        content: "\f07a";
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: 10px;
    }
}
.show-comment-form {
	display: inline-block;
    background-color: #004276;
    padding: 2px 12px 0px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-right: 30px;
    text-align: right;
    float: right;
    .fa {
        vertical-align: top;
        margin-left: 5px;
    }
    &.active {
        .fa-chevron-down {
            display: none;
        }
    }
    &:not(.active) {
        .fa-chevron-up {
            display: none;
        }
    }
    &:hover, &:focus {
        color: white;
        text-decoration: none;
    }
}
.comment-form-wrapper {
    display: none;
	width: calc(100% - 57px);
    margin-left: 47px;
}
#category_description{
    display: block;
    height: 80px;
    overflow: hidden;
}
#all, #chiudi{
	background: #F4F4F4;
	font-size: 13px;
	text-transform: uppercase;
	text-align: right;
	cursor: pointer;
	margin: 20px 0 50px 0;
	padding: 3px 10px;
	width: 100%;
}
#all{
	display:block;
}
#chiudi{
	display:none;
}
.comunicato-stampa{
	padding:0 5px;
	border-bottom: 1px solid #4D4D4D;
    margin-top: 1.68rem;
	
	.text{
		p{
			font-size:16px;
			
		}
	}
}
.pagina-vetrina{
	position:relative;
	.banner-qrcode-home{
		position:fixed;
		z-index:999;
		bottom:0px;
		img{
			border-top: solid 10px #FFF;
			border-bottom: solid 16px #FFF;
		}
	}
	img.single-thumbnail{
		width:100%;
		height:auto;
	}
	.content{
		div,p{
			line-height: 30px;
			font-size: 18px;
			margin: 0 0 20px 0;
		}
		h2{
			font-size: 24px;
			font-weight: normal;
			margin: 0px;
		}
	}
}
article .content a *{
	margin-top:0;
}
.top-right-adv{
	display:flow-root;
    position: sticky;
    top:20px;
	z-index:10;
}
body.category h1{
	margin:0 0 0 0;
	font-weight:normal;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: none;
}
.inevidenza article img{
	width:33%;
	height:auto;
}