
.condensed {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

    div[class^="col-"]{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.space-top {
    margin-top: 40px;
}

.space-top.space-mini {
    margin-top: 20px;
}
.space-top.space-micro {
    margin-top: 10px;
}

.space-top.space-extra {
    margin-top: 60px;
}

.space-top.space-mega {
    margin-top: 80px;
}

.space-bottom {
    margin-bottom: 40px;
}

.space-bottom.space-mini {
    margin-bottom: 20px;
}

.space-bottom.space-micro {
    margin-bottom: 10px;
}

.space-bottom.space-extra {
    margin-bottom: 60px;
}

.space-bottom.space-mega {
    margin-bottom: 80px;
}

.space-left {
    margin-left: 10px;
}

.space-right {
    margin-right: 10px;
}

.wrap-padding {
    padding: 10px;
}

.wrap-padding-large {
    padding: 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;    
}

.absolute-top {
    top: 0px;
}

.absolute-bottom {
    bottom: 0px;
}
.absolute-right {
    right: 0px;
}
.absolute-left {
    left: 0px;
}

.fluid {
    width: 100%;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

img.alignleft {
    margin-right: 15px;
}

img.alignright {
    margin-left: 15px;
}

.clear {
    clear: both;   
}

.inline {
    display: inline;
}

.block {
    display: block;
}