.gallery{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.gallery a img {
    border: none;
    padding-bottom: 10px;
}

.gallery-item {
    margin: 0;
    float: left;
    display: block;
    max-width: 100%;
    height: 210px; //correzione temporanea
    padding-right: 10px;
}

.gallery-item:last-child {
    clear: right;
}

.gallery-caption {
    color: #666;
    font-size: 12px;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
    padding-right: 1%;
    padding-left: 1%;
}

.gallery-columns-3 .gallery-item {
    width: 33.333%;
    padding-right: 1%;
    padding-left: 1%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
    padding-right: 1%;
    padding-left: 1%;
}

.wp-caption-text {
    width: 150px;
}