
.banner{
	background-color: #fff !important;
}
.masthead_adv{
	width: 970px;
	height: 268px;
	/*background: url(/images/adv/bg-adv-970x250.jpg);
	background-repeat: no-repeat;
    background-position-y: bottom;*/
	border: 1px solid #ccc;
}
.masthead_adv div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%
}
.topright_adv{
	/*width: 300px;
	height: 618px;
	background: url(/images/adv/bg-adv-300x600.jpg);
	background-repeat: no-repeat;
    background-position-y: bottom;
	border: 1px solid #ccc;*/
}
